<?xml version="1.0"?>
<config>
    <modules>
        <Nick_DynamicPaymentHelper>
            <version>1.0.0</version>
        </Nick_DynamicPaymentHelper>
    </modules>
    <global>
        <helpers>
            <nick_dph>
                <class>Nick_DynamicPaymentHelper_Helper</class>
            </nick_dph>
            <payment>
                <rewrite>
                    <data>Nick_DynamicPaymentHelper_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
    </global>
</config>